[{application, ejabberd, "/home/user/erlang/esl/ejabberd/apps/ejabberd"}
,{application, stdlib, code:lib_dir(stdlib)}
,{application, kernel, code:lib_dir(kernel)}
,{application, mnesia, code:lib_dir(mnesia)}
,{application, snmp, code:lib_dir(snmp)}
,{application, stdlib, "/home/user/erlang/otp/lib/stdlib"}
,{application, kernel, "/home/user/erlang/otp/lib/kernel"}
,{application, mnesia, "/home/user/erlang/otp/lib/mnesia"}
,{application, snmp, "/home/user/erlang/otp/lib/snmp"}
,{application, meshup, "/home/user/erlang/klarna/meshup"}
,{application, tulib, "/home/user/erlang/klarna/meshup/deps/tulib"}
,{application, proper, "/home/user/erlang/pbt/proper"}
,{application, etorrent_core, "/home/user/erlang/torrent/etorrent_core"}
,{application, rabbit, "/home/user/erlang/rabbitmq/rabbitmq-server"}
,{application, zotonic, "/home/user/erlang/web/zotonic", 
    [{source_dirs, [src, modules]}]}
].
