@font-face {
  font-family: 'DejaVu Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('DejaVu Sans Mono'), url(font/DejaVuSansMono.woff) format('woff');
}

body {
  font-family: DejaVu Sans Mono, Arial;
  font-size: 13pt;
  overflow: hidden;
}

input#search-field {
  font-family: DejaVu Sans Mono, Arial;
  font-size: 11pt;
  width: 250px;
}

html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
}

/* sigma.js context : */
#container {
  background: #000;
  height: 100%;
  overflow: hidden;
}

#graph-main {
  width: 100%;
  height: 100%;
  z-index: 2000;
}

#graph-directions { 
  z-index: 9000;
  background: #000;
  color: #FFF;
  width: 300px; 
  top: 0px; 
  bottom: 0px;
  position: absolute;
  right: 0px;
  overflow: auto;
  display: none;
}

.sub-block { 
    margin-top: 10px;
    margin-bottom: 20px;
}

.directions-active #graph-directions { 
  display: block;
}


#search-results {
  width: 300px; 
  position: absolute;
  bottom: 0px; 
  top: 50px; 
  color: #FFF;
  overflow: auto;
}

#search-pane { 
  display: none;
  background: #000;
  width: 300px; 
  top: 0px; 
  bottom: 0px; 
  position: absolute;
  right: 0px;
  display: none;
}

.searching-active #search-pane {
  display: block;
}

.directions-active #search-pane,
.directions-active #search-field {
  display: none;
}

a { 
    text-decoration: none;
    color: inherit;
}

.header-closed {
  color: #C0C0C0;
}

.header-opened {
  color: #FFF;
}

/* http://stackoverflow.com/questions/10272605/align-two-inline-blocks-left-and-right-on-same-line */
.sub-block-header {
    text-align: justify;
    margin-bottom: -1em;
    line-height: normal;

    /* IE special */  
    width: 100%;  
    -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
}

.sub-block-header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.header-count-info {
    margin-right: 10px;
}

#graph-modules {
  width: 500px; 
  height: 340px; 
  position: absolute;
  z-index: -1;
}

#graph-modules-link { 
  margin-left: 2px;
  margin-top: 2px;
  color: white;
}

#top-panel {
  z-index: 9001;
  position: absolute;
}

.disable-mouse-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.overlay-node {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
  z-index: -1;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.selected-elem-info {
    font-size: 14pt;
    text-align: right;
    padding: 6px;
}
.misc {
    font-size: 80%;
    /* For new line */
    display: block;
}
.sub-block ul {
  margin: 0px;
  padding: 0px;
  margin-left: 14pt;
}


/* http://stackoverflow.com/questions/8573574/cancelling-text-align-justify-for-certain-parts-of-text */
.active-block .header-closed {
  display: none;
}
.header-closed {
  /* cancel justify */
  text-justify: none;
  display: inline-block;
}

.active-block .header-opened {
  /* cancel justify */
  text-justify: none;
  display: inline-block;
}
.header-opened {
  display: none;
}

.active-block .content-block {
  display: block;
}
.content-block {
  display: none;
}

#search-field {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 8000;
  background: #000;
  color: #CCC;
  border: 1px solid #CCC;
}

.searching-active #search-field {
  z-index: 9500;
}

#search-field:focus {
  border: 1px solid #FFF;
}


.delim { color: gray; }
#edge-direction-selector a { color: white; display: none; }
.target-color #target-color { display: inline; }
.source-color #source-color { display: inline; }


#info-tip {
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    color: #000;
    position: absolute;
    margin: 0;
    font-size: 12pt;
    z-index: -10;
    max-width: 300px;
}
.active-tip-switch.info-tip-active #info-tip {
    z-index: 9999;
}


/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #000;
    position: relative;

    /* Opacity */
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.jspTrack:hover
{
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.jspDrag
{
    background: #FFF;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspCorner
{
    background: #000;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}






/* Border nodes */

#top-border-node
{
    position: absolute;
    width: 20px;
    height: 3px;
    top: 0;
    z-index: -1;
    margin-left: -10px;
}

#bottom-border-node
{
    position: absolute;
    width: 20px;
    height: 3px;
    bottom: 0;
    z-index: -1;
    margin-left: -10px;
}

#left-border-node
{
    position: absolute;
    height: 20px;
    width: 3px;
    left: 0;
    z-index: -1;
    margin-top: -10px;
}

#right-border-node
{
    position: absolute;
    height: 20px;
    width: 3px;
    right: 0;
    z-index: -1;
    margin-top: -10px;
}

#border-node
{
    position: absolute;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    z-index: -1;
}

#function-list li
{
    list-style-type: circle;
}

#function-list li.is-exported
{
    list-style-type: disc;
}

body.world li {
    list-style-type: none;
}

.checkbox:before {
    font-size: 16pt;
    position: relative;
    left: -6pt;
    content: "\2610"; // &#9744;
}
.checkbox.selected:before {
    content: "\2611"; // &#9744;
}

.checkbox:hover {
    color: white;
}

body.shift-pressed .checkbox.will-be-selected {
    color: white;
}

a:focus {
    outline-style: none;
    background: DarkSlateGray;
}

a:hover {
    background: DarkSlateBlue;
}

.main-selected #main-selected-mark {
    position: absolute;
    background: green;
    z-index: 9999;
    bottom: 10px;
    left: 10px;
    width: 5px;
    height: 5px;
}

.directions-selected #directions-selected-mark,
.searching-selected #searching-selected-mark {
    position: absolute;
    background: green;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    width: 5px;
    height: 5px;
}
